header {
    background-color: #90CAF9;
    display: flex;
    padding: 15px;
    text-align: center;
    position: sticky;
}

div.logo {
    background-color: #90CAF9;
    display: flex;
    padding: 15px;
    text-align: center;
    position: sticky;
}

nav.topnav {
    background-color: #90CAF9;
    display: flex;
    padding: 5px;
    position: sticky;
}

body {
    background-color: #E3F2FD; /*make lighter??*/
    color: #000000;
    font-family: serif;
    max-width: 700px;
    margin: 4rem auto;
    padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #0D47A1;
    font-family: "Playfair Display", "Times New Roman", serif;
    text-align: center;
}

p {
    color: #000000;
    font-family: "Georgia", "Times New Roman", serif;
    text-align: justify;
}